*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    

     .navbar{
        display: flex;
        align-items: center;
        padding: 40px;
        
    }
    nav{
        flex: 30;
        text-align: right;
    }
    nav ul{
        display: inline-block;
        list-style-type: none;

    }
    nav ul li{ 
        display: inline-block;
        margin-right: 30px;  
    }
    a{
        text-decoration: none;
        list-style-type: none;
        color:black;
    }
    p{
        color:black;
    }
    .container{
        max-width: 1200px;
        margin:auto;
        padding-left: 10px;
        padding-right: 10px;

    }
    
    .col-2{
        flex-basis:50%;
        min-width:300px;}
    .col-2 img{
        max-width: 100%;
        padding: 50px 0;

    }
    .col-2 h1{
        font-size:50px;
        line-height: 60px;
        margin:40px 0;

    }
    .row{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 100px;
        padding-right: 100px


    }
    .btn{
        display: inline-block;
        background:black;
        color:#fff;
        padding: 8px 30px;
        margin: 30 px 0;
        border-radius: 30 px;

    }

    .col-3{
        margin: 100px 0;
        font-size: 20;
        font-weight: bold
    }
    .footer{
        margin:70px 0;
        background: black;
        color:#fff;
       
        


    }
    .menu-icon{
        width: 28px;
        margin-left: 20px;
        

    }
    .
   
       ____________________
       .single-product{
           margin-top:80px;

       }
       .single-product .col-2 img{
           padding: 0;
       }
       .single-product .col-2 img{
        padding: 20;

        }
        .single-product .col-2 h{
            margin: 100px 0;
           font-size: 20;
           font-weight: bold;
           
    }
    .single-product select{
      display: block;
        padding: 10px;
        margin-top: 20px;



    }
    .single-product input{
        width: 30 px;
        height: 40 px;
        padding-left: 10px;
        font-size: 20 px;
        margin: 10;
        


    }
    .categories{

    }
    .similar-product{
        ;
       
        
    }
}


    
    
}




}
    }
}